body{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid orange;
    height: 100vh;
   
}
header {
    margin: 2rem;
}
header > nav {
    width: 55rem;
    
    display: flex;
    justify-content:space-evenly
}

header nav > button {
    background-color: #ff2741;
    border: none;
    border-radius: 10px;
    padding: 1em;
    width: 100px;
}

.content {
    max-width: 90vw;
    min-width: 85vw;
    background-color: #ffa03b;
    border-radius: 50px;
    padding: 2rem;
}
h1, h3, h2 {
    color:#362e2e ;
    font-weight: bolder;
}
.first {
    text-align: center;
}

.first > p {
    line-height: 2rem;
    width: 50%;
    
    margin: 0 auto;
}

.hours, .location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*menu styles*/
.menu-item {
    
    text-align: center;
}

.menuDiv, .homeDiv{
    max-width: 100%;
    
}
